/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
  }

  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/inika-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inika-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/inika-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/inika-v21-latin-700.svg#Inika') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #717171;
}
.wrapper{
    max-width: 1222px;
    margin: 0 auto;
}

.header{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    /* identical to box height, or 312% */
    color: #010201;
    background-color: #EDF2EC;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.logo{
text-decoration-line: none;
}

.nav{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 46px;
}

.header__item:last-child{
    margin-right: 0px;
}

.nav__link{
    text-decoration-line: none;
}

.nav__link__home{
    font-weight: 700;
    color: #E06733;
    text-decoration-line: none
}

h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.text__content{
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.green_text{
    color: #499A18;
}

.service__block{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.name__block{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

button{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

h2{
    color: #499A18;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.red_text{
    color: #E06733;
}

.text__call__us{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.prices_left_bar{
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    color: #000000; 
}
.prices__items{
font-size: 20px;
line-height: 20px;
}

.contact__us{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.content{
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.button__contact__us{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
}