html, body, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start page */

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #717171;
    
}
.wrapper{
    max-width: 1222px;
    margin: 0 auto;
    
}

/* start header */

.header{
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    background-color: #EDF2EC;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 42px;
}

.logo{
    text-decoration-line: none;
    color: #010201;
}

.nav{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 47px;
}

.header__item:last-child{
    margin-right: 0px;
}

.nav__link{
    text-decoration-line: none;
    color: #010201;
}

.nav__link:hover{
    opacity: 0.75;
}

.nav__link__home{
    font-weight: 700;
    color: #E06733;
    text-decoration-line: none
}

/* end header */
/* start welcome */

#welcome{
    background-color: #EDF2EC;
}

.wrapper__welcome{
   display: flex;
   
}

#img__leaf{
    width: 448.8; 
    height: 407.36;
    padding: 59px 213px 62.64px 0px; 
}

.promo__content{
   padding: 98px 104px 92px 0px;
}

.h1__block{
    width: 549px;
    height: 101px;
}

h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.text__block{
    padding-top: 42px;
}

.text__content{
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.green_text{
    color: #499A18;
}

.btn__learn__more{
    padding-top: 48px;
    width: 354px;
}

.learn__more{
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration-line: none
}

.learn__more:hover{
    background-color: #E06733;
}

/* end welcome */
/* start about */

#about{
    background-color: #FFFFFF;
}

.about__wrapper{
    display: flex;
}

.about__content{
    padding: 144px 153px 155px 0px;
}

h2{
    color: #499A18;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.h2__about{
    padding-right: 142px;
    padding-bottom: 40px;
}

.img__flower__pot{
    padding-top: 77px;
    padding-bottom: 94px;
}

.text_content{
    line-height: 30px;
}
.red_text{
    color: #E06733;
}

/* end about */
/* start service */
           
#service{
    background-color: #EDF2EC;
}

.service__content{
    display: flex;
    padding: 36px 75px 179px 0px;
    width: 1082px;
    height: 94px; 
}

.service__title{
    padding-right: 142px;
}

.service__button{
    display: flex;
    justify-content: space-between;
    width: 822px;
    height: 50px;
    padding-top: 25px;
}

.rectangle__button{
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    align-self: baseline;
    
}

.rectangle__button:hover{
    border: 3px solid #E06733;

}

.layout__3column{
    display: flex;
    max-width: 1222px;
    margin: 0 auto;
    background-color: #EDF2EC;
    padding-bottom: 121px;
    
}

.service__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.planting__block1{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.img__block{
    border-radius: 20px 20px 0px 0px;
}



.under__img{
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.name__block{
    padding-top: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.text__block2{
    text-align: center;
    padding-bottom: 36px;
    padding-top: 18px;
}

.planting__block2{
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

/* end service */
/* start prices */

.prices__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 115px;

}

button{
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

 .button__rectangle__callus{
    padding-top: 29px;
 }

 .rectangle__5{
    box-sizing: border-box;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
 }

 .item__container{
    background: white;
    border-radius: 20px;
    padding: 34px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: 282.01px;
 }

.button__contact__us{
    box-sizing: border-box;
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
}

.button__contact__us:hover{
    border: 3px solid #E06733;
}

.text__call__us{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.title__call__us{
    width: 452px;
    height: 103px;
}

.leaf__prices{
    width:152px; 
    height:174.99px;
    padding-top: 17px;
}

#prices{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
}

.prices__left__bar{
    padding-right: 438px;
    height: 391.01px;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    color: #000000; 
}
.prices__items{
    padding-top: 60px;
    font-size: 20px;
    line-height: 20px;
}

.item_like_button{
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    padding: 13px 44px 16px 40px;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;

}

.prices__title{
    padding-right: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.list-basics-hidden{
    visibility:hidden;
}


.list-basics-style{
    width: 250px;
    background: #D6E7D2;
    border-radius: 20px;
}

.line__prices{
    width: 164px;
    border: 0.5px solid #AEA1A1;
    margin: 12px 46px 0px 40px;
}

.content__open__basics{
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    text-align: start;
    padding: 10px 41px 10px 40px;
}


.price__dollar{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E06733;
    padding-right: 127px;
}

.price__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.button__order{
    width: 86px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    margin: 12px 0px 12px 39px;
}

.btn__order{
    padding: 0px 0px 0px 0px;
}

.btn__order__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}

.basics__text{
    float: left;
    padding: 16px 0px 0px 40px;
}

.accordion__open{

    padding: 20px 40px 0 0;
}


/* end prices */
/* start contacts */

#contacts{
    background-color: #EDF2EC;;
} 

.contacts__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.contact__us{
    padding-top: 10px;
    padding-left: 39px;
    text-align: center;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contacts__container{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding-left: 20px;
    text-align:left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 101px;
}

.contacts__btn__accordion{
    padding-right: 35px;
}

.women__contact{
    padding-top: 16px;
}

/* end contacts */
/* start footer */


.content{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 40px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.rss_year{
    color: #000000;
    text-decoration-line: none
}

.rss_school{
    color: #000000;
    text-decoration-line: none
}

/* end footer */

/* start media768 */

@media (max-width: 768px){

    .wrapper {
        padding: 0 15px;
        max-width: 768px;
    }

    body {
        width: 768px;
    }


    /* start media768 header */

    .header{
        width: 768px;
        height: 117px;
    }

    .header__logo{
        padding-top: 35px;
    }

    .logo{
        padding-left: 33px;
    }

    .header__item{
    margin-right: 47px;
    }
    
    .header__item:last-child {
        margin-right: 36px;
    }

    /* end media768 header */
    /* start media768 welcome */

    .promo__content{
        width: 346px;
        height: 310px;
        padding: 0;
    }

    .leaf__svg{
        width: 280px;
        height: 254.15px;
    }

    .wrapper__welcome{
        width: 752px;
        height: 420px;
        display:flex;
        flex-direction: row-reverse;
    }

    #img__leaf {
        padding: 38px 69px 62.64px 24px;
    }

    .h1__block{
        width: 341px;
        height: 101px;
        padding: 40px 0px 0px 0px;
    }

    h1{
        font-size: 35px;
    }

    .text__content{
        font-size: 16px;
        line-height: 25px;
    }

    .text__block {
        padding-top: 70px;
        padding-left: 5px;
    }

    .btn__learn__more {
        padding-top: 34px;
    }

    /* end media768 welcome */
    /* start media768 about */

    #about{
        width: 768px;
        height: 783px;
    }

    .about__wrapper{
        flex-direction: column;
    }

    .about__content {
        padding: 39px 0px 0px 0px;
    }

    .img__flower__pot768{
        width: 250px;
        height: 258px;
    }

    .img__flower__pot {
        padding-top: 40px;
        padding-left: 242px;
    }

    .h2__about{
        padding-left: 139px;
        padding-bottom: 51px;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }

    .text_content{
        width: 668px;
        height: 208px;
        padding-left: 36px;
        font-size: 20px;
    }

    /* end media768 about */
    /* start media768 service */

    #service{
        width: 768px;
        height: 1780px;
    }

    .service__title{
        padding-left: 35px;
        padding-top: 23px;
    }

    .service__content{
        flex-direction: column;
        width: 741px;
    }

    .service__button{
        width: 594px;
        height: 50px;
        padding-top: 43px;
        padding-left: 36px;
    }

    .service__block{
        width: 703px;
        height: 1426px;
        padding-top: 68px;
        padding-left: 35px;
    }

    .planting__block1{
        width: 281px;
        height:450px;
        margin-bottom: 38px;
    }

    .planting__block2{
        padding-top: 2px;
        width: 281px;
        height:450px;
    }

    .img__block{
        width: 280px;
        height: 350px;
    }


    .h2_service{
        width: 306px;
        height: 94px;
        font-size: 35px;
        line-height: 46px;
    }

    /* end media768 service */
    /* start media768 prices */

    #prices{
        width: 768px;
        height: 585px;
    }

    .prices__title{
        padding-right: 157px;
        font-size: 35px;
        line-height: 42px;
        text-align: center;
    }

    .prices__items {
        padding-left: 35px;
    }

    .prices__left__bar{
        padding-right: 0px;
    }

    .title__call__us{
        width: 296px;
        height: 77.41px;
        font-size: 25px;
        line-height: 35px;
        text-align: right;
    }

    .text__call__us{
        padding-top: 100px;
        padding-right: 33px;
    }

    .button__rectangle__callus {
        padding-top: 14px;
    }

    .leaf__prices{
        padding-top: 21px;
    }
    /* end media768 prices */
    /* start media768 contacts */

    .contacts__wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 30px;
    }

    #contacts{
        width: 768px;
        height: 739px;
    }

    .contacts__container {
        margin-left: 145px;
    }

    .women__contact{
        width: 200px;
        height: 248.49px;
        margin-top: 247px;
        margin-left: 279px;
        padding-top: 0px;
    }

    .contact__us{
        order: 1;
        padding-left: 0px;
    }

    /* end media768 contacts */
    /* start media768 footer */

    #footer{
        width: 768px;
        height: 181px;
    }

    .content{
        padding-top: 20px;
        flex-direction: column;
    }

    a.rss_year {
        text-align: center;
    }

    a.rss_school {
        text-align: center;
    }
    
    .social__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 188px;
        height: 50px;
        margin-left: 275px;
}

    
}
/* end media768 */

@media (min-width: 381px) and (max-width: 414px){
    .burger-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 40px;
        margin-right: 56px;
        margin-bottom: 15px;
        
    } 


    .burger-line {
        border: 2px solid #717171;
        border-radius: 5px;
        display: block;
        width: 100%;
        transition: .4s all linear;
    }

   

    .nav {
        position: absolute;
        left: 0;
        top: -575px;
        flex-direction: column;
        padding: 30px 15px;
        width: 100%;
        visibility: hidden;
        background-color: darkseagreen;
        z-index: 3;
        transform: translateY(0);
        transition-property: transform, visibility;
        transition-duration: 0.4s;
        transition-timing-function: ease-in;

    }

    .nav__header--activ{
        visibility: visible;
		transform: translateY(575px);
    }

    .burger-btn--activ{
        position: relative;
        width: 40px;
        height: 24px;
        border: none;
        cursor: pointer;
        z-index: 3;
    }

    .burger-btn--activ .burger-line-first, .burger-btn--activ .burger-line-fourth{
        opacity: 0;
    }


}


@media (max-width: 380px){
/* start media380 */

    .body{
        width: 380px
    }

    .header {
        width: 380px;
        height: 96px;
    }

    .logo{
        padding-left: 8px;
        font-size: 16px;
        line-height: 21px;
    }

    .burger-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 40px;
        margin-left: 140px;
        
    } 


    .burger-line {
        border: 2px solid #717171;
        border-radius: 5px;
        display: block;
        width: 100%;
        transition: .4s all linear;
    }

   

    .nav {
        position: absolute;
        left: 0;
        top: -575px;
        flex-direction: column;
        padding: 30px 15px;
        width: 100%;
        visibility: hidden;
        background-color: darkseagreen;
        z-index: 3;
        transform: translateY(0);
        transition-property: transform, visibility;
        transition-duration: 0.4s;
        transition-timing-function: ease-in;

    }

    .nav__header--activ{
        visibility: visible;
		transform: translateY(575px);
    }

    .burger-btn--activ{
        position: relative;
        width: 40px;
        height: 24px;
        border: none;
        cursor: pointer;
        z-index: 3;
    }

    .burger-btn--activ .burger-line-first, .burger-btn--activ .burger-line-fourth{
        opacity: 0;
    }

    h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .h1__block{
        padding-top: 26px;
    }

    .text__block {
        padding-top: 15px;
        padding-left: 0px;
    }

    .learn__more{
        font-size: 10px;
        line-height: 20px;
        width: 100px;
        height: 34.14px;
    }

    .h2__about{
        padding: 0px 0px 0px 0px;
        font-size: 25px;
        line-height: 33px;
    }

    .about__content{
        padding-top: 32px;
    }

    #img__leaf {
        display: none;
    }

    .wrapper__welcome {
        padding-left: 10px;
        flex-direction: row;
        width: 355px;
    }

    .btn__learn__more {
        padding-top: 26px;
    }

    .text_content {
        width: 330px;
        height: 228.38px;
        font-size: 15px;
        line-height: 25px;
        padding-left: 11px;
        padding-top: 11px;
    }

    .promo__content{
        width:352px;
    }

    .img__flower__pot768{
        width: 150px;
        height: 147px;
    }

    .img__flower__pot {
        padding-top: 13px;
        padding-left: 102px;
    }
    
    .h2_service{
        font-size: 25px;
        line-height: 33px;
        padding-right: 38px;
    }

    .rectangle__button{
        font-size: 15px;
        line-height: 20px;
        width: 121px;
        height: 35px;
    }


    .button__correct {
        padding-bottom: 10px;
    }

    .service__button{
        flex-wrap: wrap;
        width: 292px;
        height: 50px;
        padding-left: 10px;
        padding-top: 0px;
        padding-right: 29px;
    }

    .service__title {
        padding-left: 11px;
        padding-top: 0px;
        padding-bottom: 5px;
    }

    .service__content{
        padding-top: 33px;
        width: 363px;
    }

    .service__block{
        padding-top: 40px;
    }

    .planting__block1{
        margin-bottom: 32px;
    }

    .planting__block2 {
        margin-bottom: 35px;
    }

    .prices__title {
        line-height: 30px;
        text-align: center;
        font-size: 25px;
        padding-top: 5px;
    }
   
    .prices__wrapper{
        padding-top: 20px;
    }

    .rectangle__5{
        width: 260px;
        height: 238px;
    }

    .item__container{
        width: 180px;
        height: 177px;
        height: 247px;
    }

    .item_like_button{
        font-size: 15px;
        line-height: 20px;
        width: 180px;
        height: 49.72px;
    }
    
    .leaf__prices{
        display:none;
    }

    .prices__wrapper{
        flex-direction: column;
    }

    .prices__items{
        padding-top: 34px;
    }

    .title__call__us{
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        height: 59px;
        width: 280px;
    }

    .prices__left__bar{
        height: 227px;
    }

    .button__contact__us {  
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }

    .button__rectangle__callus {
        padding-right: 82px;
    }

    .contact__us{
        padding-top: 0px;
        font-size: 25px;
        line-height: 33px;
    }

    .contacts__container {
        width: 300px;
        height: 50px;
        margin-left: 23px;
        margin-top: 76px;
    }

    .women__contact{
        width: 100px;
        height: 124.25px;
        margin-top: 131px;
        margin-left: 123px;
    }

    .social__list{
        margin-left: 83px;
    }

    .content {
        padding-top: 6px;
    }

    #welcome {
        width: 380px;
        height: 300px;
    }

    #about {
        width: 380px;
        height: 516px;
    }

    #service {
        width: 380px;
        height: 3150px;
    }

    #prices {
        width: 380px;
        height: 512px;
    }

    #contacts {
        width: 380px;
        height: 445px;
    }

    .footer {
        width: 380px;
        height: 146px;
    }

}
