html, body, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start page */

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #717171;
    
}
.wrapper{
    max-width: 1222px;
    margin: 0 auto;
    
}

/* start header */

.header{
    /* margin: auto; */
    /* background-color: #EDF2EC;
    width: 1440px;
    height: 134px; */
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    background-color: #EDF2EC;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 42px;
}

.logo{
    text-decoration-line: none;
    color: #010201;
}

.nav{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 47px;
}

.header__item:last-child{
    margin-right: 0px;
}

.nav__link{
    text-decoration-line: none;
    color: #010201;
}

.nav__link:hover{
    opacity: 0.75;
}

.nav__link__home{
    font-weight: 700;
    color: #E06733;
    text-decoration-line: none
}

/* end header */
/* start welcome */

#welcome{
    background-color: #EDF2EC;
    /* width: 1440px; */
    /* margin: auto; */
}

.wrapper__welcome{
   display: flex;
   
}

#img__leaf{
    width: 448.8; 
    height: 407.36;
    padding: 59px 213px 62.64px 0px; 
}

.promo__content{
   padding: 98px 104px 92px 0px;
}

.h1__block{
    width: 549px;
    height: 101px;
}

h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.text__block{
    padding-top: 42px;
}

.text__content{
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.green_text{
    color: #499A18;
}

.btn__learn__more{
    padding-top: 48px;
}

.learn__more{
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration-line: none
}

.learn__more:hover{
    background-color: #E06733;
}

/* end welcome */
/* start about */

#about{
    /* width: 1440px; */
    /* margin: auto; */
    background-color: #FFFFFF;
}

.about__wrapper{
    display: flex;
}

.about__content{
    padding: 144px 153px 155px 0px;
}

h2{
    color: #499A18;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.h2__about{
    padding-right: 142px;
    padding-bottom: 40px;
}

.img__flower__pot{
    padding-top: 77px;
    padding-bottom: 94px;
}

.text_content{
    line-height: 30px;
}
.red_text{
    color: #E06733;
}

/* end about */
/* start service */
           
#service{
    /* width: 1440px; */
    /* margin: auto; */
    background-color: #EDF2EC;
}

.service__content{
    display: flex;
    padding: 36px 75px 179px 0px;
    width: 1082px;
    height: 94px; 
}

.service__title{
    padding-right: 142px;
}

.service__button{
    display: flex;
    justify-content: space-between;
    width: 822px;
    height: 50px;
    padding-top: 25px;
}

.rectangle__button{
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    align-self: baseline;
    
}

.rectangle__button:hover{
    border: 3px solid #E06733;

}

.layout__3column{
    display: flex;
    max-width: 1222px;
    margin: 0 auto;
    background-color: #EDF2EC;
    padding-bottom: 121px;
    
}

.service__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.planting__block1{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.img__block{
    border-radius: 20px 20px 0px 0px;
}



.under__img{
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.name__block{
    padding-top: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.text__block2{
    text-align: center;
    padding-bottom: 36px;
    padding-top: 18px;
}

.planting__block2{
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

/* end service */
/* start prices */

.prices__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 115px;

}

button{
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

 .button__rectangle__callus{
    padding-top: 29px;
 }

 .rectangle__5{
    box-sizing: border-box;
    width: 332px;
    height: 282.01px;
    left: 109px;
    top: 149px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
 }

 .item__container{
    width: 250px;
    height: 50px;
    background: white;
    border-radius: 20px;
    padding: 34px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 332px;
    height: 282.01px;
 }

.button__contact__us{
    box-sizing: border-box;
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
}

.button__contact__us:hover{
    border: 3px solid #E06733;
}

.text__call__us{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.title__call__us{
    width: 452px;
    height: 103px;
}

.leaf__prices{
    width:152px; 
    height:174.99px;
    padding-top: 17px;
}

#prices{
    /* width: 1440px; */
    /* margin: auto; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
}

.prices__left__bar{
    padding-right: 438px;
    height: 391.01px;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    color: #000000; 
}
.prices__items{
    padding-top: 60px;
    font-size: 20px;
    line-height: 20px;
}

.item_like_button{
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    padding: 13px 44px 16px 40px;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;

}

.prices__title{
    padding-right: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

/* end prices */
/* start contacts */

#contacts{
    /* width: 1440px; */
    /* margin: auto; */
    background-color: #EDF2EC;;
} 

.contacts__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.contact__us{
    padding-top: 10px;
    padding-left: 39px;
    text-align: center;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contacts__container{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding-left: 20px;
    text-align:left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 101px;
}

.contacts__btn__accordion{
    padding-right: 35px;
}

.women__contact{
    padding-top: 16px;
}

/* end contacts */
/* start footer */

.footer{
    /* width: 1440px; */
    /* margin: auto; */
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 40px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.rss{
    color: #000000;
    text-decoration-line: none
}

/* end footer */

/* start media */

@media (max-width: 768px){

    .wrapper {
        padding: 0 15px;
    }

    body {
        width: 768px;
    }

    /* start media header */

    .header{
        width: 768px;
        height: 117px;
    }

    .header__logo{
        padding-top: 35px;
    }

    .logo{
        padding-left: 33px;
    }

    .header__item{
    margin-right: 47px;
    }
    
    .header__item:last-child {
        margin-right: 36px;
    }

    /* end media header */
    /* start media welcome */

    .promo__content{
        width: 346px;
        height: 310px;
        padding: 0;
    }

    .leaf__svg{
        width: 280px;
        height: 254.15px;
    }

    .wrapper__welcome{
        width: 768px;
        height: 420px;
        display:flex;
        flex-direction: row-reverse;
    }

    #img__leaf {
        padding: 38px 69px 62.64px 40px;
    }

    .h1__block{
        width: 341px;
        height: 101px;
        padding: 40px 0px 0px 0px;
    }

    h1{
        font-size: 35px;
    }

    .text__content{
        font-size: 16px;
        line-height: 25px;
    }

    .text__block {
        padding-top: 70px;
        padding-left: 5px;
    }

    .btn__learn__more {
        padding-top: 34px;
    }

    #about{
        width: 768px;
        height: 783px;
    }

    #servise{
        width: 768px;
        height: 1780px;
    }
}
/* end media */